@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
}

header {
  margin-top: 80px;
}

/* GENERAL */
a {
 text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 48px;
}

h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

header {
  height: calc(100vh - 80px);
}

.purple {
  color: #6415FF;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__row {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* LANDING */
nav {
  height: 80px;
  display: flex;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border: 1px solid #6415FF;
  border-radius: 2px;
  font-size: 20px;
  background-color: #6415FF;
  color: #FFF;
  padding: 8px;
}

.logo__name {
  margin-left: 8px;
  font-size: 24px;
  font-weight: 700;
  color: #000;

  transition: all 300ms ease;
}

.logo__name:hover {
  color: #6415FF;
}

.link__list {
  display: flex;
}

.nav__links {
  margin-left: 40px;
  color: #243E63;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  padding-bottom: 4px;

  transition: all 300ms ease;
}

.nav__links:hover {
  color: #6415FF;
  border-bottom: 2px solid #6415FF;
}

.nav__link--primary {
  border: 1px solid #6415FF;
  border-radius: 20px;
  padding: 8px 24px;
  margin: 0 24px;
  background-color: #6415FF;
  color: #FFF;
  border-bottom: none;

  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: #5011CC;
  color: #FFF;
  border-bottom: none;
}

/* HEADER */
.header__information {
  width: 60%;
}


.header__para {
  margin: 24px 0;
  display: flex;
}

.header__btn {
  position: absolute;
  margin-right: 12px;
  border: none;
  border-radius: 100px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  background-color: #6415FF;

  transition: all 300ms ease;
}

.header__btn:hover {
  background-color: #5011CC;
  cursor: pointer;
}

.header__input {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 500px;
}

.email__input {
  width: 100%;
  padding: 24px 12px;
  border-radius: 100px;
  font-size: 18px;
  border: 2px solid rgb(210, 210, 210);

  transition: all 300ms ease;
}

.email__input:hover {
  border-color: rgb(112, 121, 134);
}

::placeholder {
  color: rgb(210, 210, 210);
}

.customers {
  margin: 60px 0 12px 0;
  font-size: 14px;
  font-weight: 700;
  color: rgb(112, 121, 134);
}

.header__img--wrapper {
  width: 100%;
  margin-left: 24px;
}

.header__img,
.customers__img,
.customers__img--wrapper {
  width: 100%;
}

/* FEATURES */
.features__title {
  text-align: center;
}

.features__info {
  font-size: 48px;
  text-align: center;
}

.para--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.features__para {
  color: rgb(124 139 161);
  opacity: 1;
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-bottom: 64px;
}

.features__showcase {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.features__img {
  border: 2px solid #ddd;
  padding: 16px;
  border-radius: 100%;
}

.features__example {
  width: calc(100% / 3);
  padding: 36px 12px;

  display: flex;
}

.features__example--title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.features__example--info {
  line-height: 1.5;
  color: #7C8BA1;
  font-size: 16px;
}

.text--wrapper {
  margin-left: 12px;
}